
h1 {
    background-color: #0c89f0;
    color: #ffffff;
}


.Post1 {
    background-color: #070707;
    color: #e70505;
}

.Post2 {
    background-color: #070707;
    color: #e76b05;
}

.hashtag {
    background-color: #070707;
    color: #a705e7;
}